@{
    ViewData["Title"] = "Laboratorios";
}



<h1 class="display-6 text-primary text-center fw-bold"><i class="fa fa-flask"></i>  Laboratorios</h1>

@* <fieldset id="fieldsetForm" class="border p-3 shadow rounded"> *@
@*     <legend class="h5">Gestionar Laboratorio</legend> *@
@*     <form id="frmLaboratorio" method="post" class="row g-3"> *@
@*         <div class="col-md-4"> *@
@*             <label for="inputIdLab" class="form-label">Id Laboratorio</label> *@
@*             <input type="text" class="form-control shadow-sm rounded" name="idLaboratorio" id="idLaboratorio" readonly> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <label for="inputNombre" class="form-label">Nombre</label> *@
@*             <input type="text" class="form-control shadow-sm rounded" name="nombre" id="nombre"> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <label for="inputDireccion" class="form-label">Direccion</label> *@
@*             <input type="text" class="form-control shadow-sm rounded" name="direccion" id="direccion"> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <label for="inputPersonaContacto" class="form-label">Persona Contacto</label> *@
@*             <input type="text" class="form-control shadow-sm rounded" name="personaContacto" id="personaContacto"> *@
@*         </div> *@
@*         <div class="col-md-4"> *@
@*             <label for="inputNumeroContacto" class="form-label">Numero Contacto</label> *@
@*             <input type="text" class="form-control shadow-sm rounded" name="numeroContacto" id="numeroContacto"> *@
@*         </div> *@
@*         <div class="col-12"> *@
@* 			<button type="button" class="btn btn-success" onclick="GuardarLaboratorio()">Guardar</button> *@
@*             <button type="button" class="btn btn-primary" onclick="BuscarLaboratorio()">Buscar</button> *@
@*             <button type="button" class="btn btn-secondary" onclick="LimpiarLaboratorio()">Limpiar</button> *@
@*         </div> *@
@*     </form> *@
@* </fieldset> *@
<br />

<button type="button" class="btn btn-success" data-bs-toggle="modal" onclick="MostrarModal()">
    Nuevo Laboratorio
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
    </svg>
</button>

<br />
<br />


<!-- Modal -->
<div class="modal fade" id="modalLaboratorio" tabindex="-1" aria-labelledby="modalLaboratorioLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLaboratorioLabel">Gestionar Laboratorio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmLaboratorio" method="post" class="row g-3">
                    <div class="col-md-4">
                        <label for="inputIdLab" class="form-label">Id Laboratorio</label>
                        <input type="text" class="form-control shadow-sm rounded" name="idLaboratorio" id="idLaboratorio" readonly>
                    </div>
                    <div class="col-md-4">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control shadow-sm rounded" name="nombre" id="nombre">
                    </div>
                    <div class="col-md-4">
                        <label for="inputDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control shadow-sm rounded" name="direccion" id="direccion">
                    </div>
                    <div class="col-md-4">
                        <label for="inputPersonaContacto" class="form-label">Persona Contacto</label>
                        <input type="text" class="form-control shadow-sm rounded" name="personaContacto" id="personaContacto">
                    </div>
                    <div class="col-md-4">
                        <label for="inputNumeroContacto" class="form-label">Numero Contacto</label>
                        <input type="text" class="form-control shadow-sm rounded" name="numeroContacto" id="numeroContacto">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="GuardarLaboratorio()">Guardar</button>
                <button type="button" class="btn btn-secondary" onclick="LimpiarLaboratorio()">Limpiar</button>
            </div>
        </div>
    </div>
</div>


<div class="card shadow">
    <div class="card-header bg-info text-white">
        <h5 class="mb-0">Lista de laboratorios</h5>
    </div>
    <div class="card-body">
        <div id="divContenedorTabla"></div>
    </div>
</div>


<script src="~/js/generic.js"></script>
<script src="~/js/laboratorio.js"></script>