<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MiPrimeraAPPAspNetCore</title>
    <script type="importmap"></script>
    <link href="~/css/stylelayout.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiPrimeraAPPAspNetCore.styles.css" asp-append-version="true" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
	<link href="~/font-awesome/css/all.css" rel="stylesheet" />
	<link href="~/font-awesome/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <style>
        body {
            display: flex;
            height: 100vh;
            margin: 0;
        }

        .side-nav {
            width: 200px;
            background-color: #3498db;
            padding-top: 40px;
            height: 100vh;
            position: fixed;
            left: 0;
            top: 0;
        }

        .nav-menu {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav-item {
            padding: 10px 20px;
        }

            .nav-item a {
                text-decoration: none;
                color: #fff;
                display: flex;
                align-items: center;
            }

            .nav-item.active {
                background-color: #fff;
                color: #2980b9;
            }

                .nav-item.active a {
                    color: #2980b9;
                }

        .menu-text {
            padding-left: 10px;
        }

        .main-content {
            margin-left: 220px;
            padding: 20px;
            width: calc(100% - 220px);
        }
    </style>
</head>

<body>  
    <header>
        @* <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
        @*     <div class="container-fluid"> *@
        @*         <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MiPrimeraAPPAspNetCore</a> *@
        @*         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
        @*                 aria-expanded="false" aria-label="Toggle navigation"> *@
        @*             <span class="navbar-toggler-icon"></span> *@
        @*         </button> *@
        @*         <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
        @*             <ul class="navbar-nav flex-grow-1"> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="TipoMedicamento" asp-action="Index" >TipoMedicamento</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Sucursal" asp-action="Index">Sucursal</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Laboratorio" asp-action="Index">Laboratorio</a> *@
        @*                 </li> *@
        @*                 <li class="nav-item"> *@
        @*                     <a class="nav-link text-dark" asp-area="" asp-controller="Medicamento"  asp-action="Index">Medicamento</a> *@
        @*                 </li> *@
        @*             </ul> *@
        @*         </div> *@
        @*     </div> *@
        @* </nav> *@
    </header>
	<input type="hidden" id="hdfOculto" value="@Url.Content("~")" />

    <section id="sidebar">
        <div class="white-label">
        </div>
        <div id="sidebar-nav">
            <ul>
                <li><a href="/Home/Index"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/Home/Privacy"><i class="fa fa-lock"></i> Privacy</a></li>
                <li><a href="/TipoMedicamento/Index"><i class="fa fa-medkit"></i> Tipo Medicamento</a></li>
                <li><a href="/Sucursal/Index"><i class="fa fa-store"></i> Sucursal</a></li>
                <li><a href="/Laboratorio/Index"><i class="fa fa-flask"></i> Laboratorio</a></li>
                <li><a href="/Medicamento/Index"><i class="fa fa-pills"></i> Medicamento</a></li>
            </ul>
        </div>
    </section>

    <div class="main-content">


        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer>
            <div class="container">
                &copy; 2025 - Sistema Gestion Farmacia con .NET - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>


    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/2.2.2/js/dataTables.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
