@{
    ViewData["Title"] = "Laboratorio";
}

<h1>Laboratorio</h1>

<button type="button" class="btn btn-success mt-3" data-bs-toggle="modal" data-bs-target="#modalLaboratorio" onclick="limpiarLaboratorio()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z" />
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
    </svg> Agregar Nuevo
</button>

<fieldset>
    <form id="formBusquedaLab" method="post" class="row g-3 m-3 px-3 pb-2" style="border: 1px solid blue; border-radius:10px">
        <legend>Buscar Laboratorio</legend>
        <div class="col-md-6">
            <label for="nombre" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="inputNombre" name="nombre">
        </div>
        <div class="col-md-6">
            <label for="direccion" class="form-label">Dirección</label>
            <input type="text" class="form-control" id="inputDireccion" name="direccion">
        </div>
        <div class="col-12">
            <label for="personaContacto" class="form-label">Persona de Contacto</label>
            <input type="text" class="form-control" id="inputPersonaContacto" name="personaContacto">
        </div>
        <div class="col-12 d-flex gap-2 mb-2">
            <button type="button" class="btn btn-primary" onclick="buscarLaboratorio()">Buscar</button>
            <button type="button" class="btn btn-warning" onclick="limpiarLaboratorio()">Limpiar</button>
        </div>
    </form>
</fieldset>

<div class="modal fade" id="modalLaboratorio" tabindex="-1" aria-labelledby="modalLaboratorioLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLaboratorioLabel">Laboratorio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmGestionLaboratorio" method="post" class="row g-3">
                    <div class="col-md-6">
                        <label for="inputIdLab" class="form-label">Id Laboratorio</label>
                        <input type="text" class="form-control shadow-sm rounded" name="idLaboratorio" id="idLaboratorio" readonly>
                    </div>
                    <div class="col-md-6">
                        <label for="inputNombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control shadow-sm rounded" name="nombre" id="nombre">
                    </div>
                    <div class="col-md-6">
                        <label for="inputDireccion" class="form-label">Direccion</label>
                        <input type="text" class="form-control shadow-sm rounded" name="direccion" id="direccion">
                    </div>
                    <div class="col-md-6">
                        <label for="inputPersonaContacto" class="form-label">Persona de Contacto</label>
                        <input type="text" class="form-control shadow-sm rounded" name="personaContacto" id="personaContacto">
                    </div>
                    <div class="col-md-6">
                        <label for="inputNumeroContacto" class="form-label">Numero de Contacto</label>
                        <input type="text" class="form-control shadow-sm rounded" name="numeroContacto" id="numeroContacto">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="guardarLaboratorio()">Guardar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>                
            </div>
        </div>
    </div>
</div>

<div id="divTable"></div>
<div class="bg-dark text-white">
    <div class="card-header p-2">
        <h5 class="p-2 ">Lista de Laboratorios</h5>
    </div>
    <div class="card-body px-2">
        <div id="divContenedorTabla"></div>
    </div>
</div>

<script src="~/js/generico.js"></script>
<script src="~/js/laboratorio.js"></script>

