
@{
    ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<div class="input-group">
    <input id="txtTipoMedicamento" type="text" class="form-control" onkeyup="filtarTipoMedicamento()" placeholder="Ingresar tipo medicamento a buscar" aria-label="Recipient's username with two button addons">
    
</div>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/tipoMedicamento.js"></script>
